<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>
<body>
<h1>Каталог</h1>
<a th:href="@{/cart}">
<span th:text="'Товаров в корзине( '+${cartCount}+' )'"></span>
</a>
<p>
<table>
    <tr>
        <th>Товар</th>
        <th>Цена</th>
    </tr>
    <tr th:each="p:${products}">
        <td th:text="${p.getTitle}"></td>
        <td th:text="${p.getCoast}"></td>
        <td>
            <form th:action="@{'/product/'+${p.getId}}">
                <button>в корзину</button>
            </form>
        </td>
    </tr>
</table>
</p>

</body>
</html>